_DataURI
bundler.wix-code.com
frog.wix.com
static.parastorage.com
static.wixstatic.com
webpack---
webpack---_wix_auto_frontend_modules
webpack---_wix_tag_manager_client
webpack---_wix_thunderbolt_app
webpack---c1dmp
